<!DOCTYPE html>
<!-- saved from url=(0020)http://www.rooms.me/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title>Nuggets - Remember everything you learn</title>
  <meta name="google-site-verification" content="3gRZzNTjOHiXWuBA7RCX-BD39jq1PafIgCmQwGKsbQM" />
  <meta name="viewport" content="initial-scale=1,user-scalable=no">
  <meta name="description" content="Nuggets: Remember everything you learn">

  <meta property="og:image" content="/img/rooms-og-image.png">
  <meta property="og:title" content="Nuggets - Remember everything you learn">
  <meta property="og:description" content="Nuggets - Remember everything you learn">
  <meta name="apple-itunes-app" content="app-id=924643029">

  <link type="text/css" rel="stylesheet" href="/css/f39f099f-e7a0-4055-a715-bd2540a80ac8.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="icon" type="image/x-icon" href="/img/nuggets_logo_notext.png">
  <script async="" src="/js/analytics.js"></script><script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script><style type="text/css"></style>
  <script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/parse-1.2.8.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61288581-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<div id="wrapper">
  <section id="intro" class="section">
    <div class="background backgroundOne" style="-webkit-transform: translate3d(0px, 0px, 0px);"></div>
    <div class="background backgroundTwo" style="-webkit-transform: translate3d(0px, 0px, 0px);"></div>
    <div class="background backgroundThree" style="-webkit-transform: translate3d(0px, 0px, 0px);"></div>
    <div class="introContent">
      <div>
        <img id="logo" src="/img/nuggets_logo.png"/>
      </div>
      <p class="description">Remember everything you learn</p>
      <a href="https://chrome.google.com/webstore/detail/nuggets/dknmljjdjjaebkignimdoenficoamfil">
      <div class="appStoreLinkContainer">
        <img class="appStoreLink" src="/img/download_on_chrome_badge.jpeg">
      </div>
    </a>
    </div>
    
    
  </section>

  <div id="content">
    <section id="street" class="section">
        <h2>Record the stuff you learn in nuggets of 200 characters.</h2>
        <div id="streetWrap">
          <div class="street cf">
            <div class="card card1">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card2">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card3">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card4">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card5">
              <div class="cardContent">
              </div>
            </div>
          </div>
          <div class="street cf" style="left:1010px;">
            <div class="card card1">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card2">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card3">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card4">
              <div class="cardContent">
              </div>
            </div>
            <div class="card card5">
              <div class="cardContent">
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="nickname" class="section">
      <div id="nameWrap">
        <div class="verticalAlign">
        <h2>Easily organize and search nuggets using #hashtags</h2>
        <div class="dialog dialog1">
          <div class="title">The universe is ~13.8 <br>billion years old</div>
          <div class="usernameInput"><span id="name" class="emoji1">#trivia</span><div class="cursor"></div></div>
          <div class="confirm">Save</div>
        </div>
        </div>
      </div>
    </section>

    <section id="customize" class="section">
      <h2>Get timely reminders, based on your memory retention patterns.</h2>
      <div id="screens">
        <div id="screen" class="room3">
          <div class="navBar"></div>
          <div class="roomBody">
            <div class="username"></div>
            <div class="roomContent">
              <div class="image image1"></div>
              <div class="image image2"></div>
              <div class="image image3"></div>
              <div class="wash" style="-webkit-animation-name: opacity;"></div>
              <div class="animate" style="-webkit-animation-name: like;"></div>
            </div>
            <div class="ufi">
              <div class="button like"></div>
              <div class="button comment">Remind me less</div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section id="community" class="section">
      <h2>Follow and learn from friends and experts</h2>
      <div id="screens2">
        <div id="screen2">
          <div class="navBar"></div>
          <div class="roomBody">
            <div class="username">billgates</div>
            <div class="roomContent">
              <div class="textPost">
                Treatment without prevention<br>is simply unsustainable.
              </div>
            </div>
            <div class="inlineLike">Save</div>
            <ul id="comments">
              <li class="comment comment1">
                <div class="commentUsername">stephenhawking</div>
                <div class="commentBody">I am just a child who has never grown up. I still keep asking these 'how' and 'why' questions. Occasionally, I find an answer.</div>
                <div class="inlineLike">Save</div>
              </li>
              <li class="comment comment2">
                <div class="commentUsername">john</div>
                <div class="commentBody">Positive Deviance: Looking for solutions among individuals in the community who are already doing well. #design</div>
                <div class="inlineLike">Save</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul id="links">
        <li class="link"><a href="http://blog.rooms.me/">Blog</a></li>
        <li class="link"><a href="http://www.rooms.me/download">Download</a></li>
        <li class="link"><a href="http://www.rooms.me/privacy">Privacy</a></li>
        <li class="link"><a href="http://www.rooms.me/help">Help</a></li>
      </ul>
    </section>

    <!--<section id="invite" class="section">
      <h2>Follow friends and celebrities</h2>
      <div id="ticket"></div>
      <ul id="links">
        <li class="link"><a href="http://blog.rooms.me/">Blog</a></li>
        <li class="link"><a href="http://www.rooms.me/download">Download</a></li>
        <li class="link"><a href="http://www.rooms.me/privacy">Privacy</a></li>
        <li class="link"><a href="http://www.rooms.me/help">Help</a></li>
      </ul>
    </section>-->
  </div>
</div>



</body></html>