<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dknmljjdjjaebkignimdoenficoamfil">
          <title>Nuggets - Remember everything you learn</title>
          <meta name="google-site-verification" content="3gRZzNTjOHiXWuBA7RCX-BD39jq1PafIgCmQwGKsbQM" />
          <meta name="description" content="Nuggets: Remember everything you learn">
          <meta property="og:title" content="Nuggets - Remember everything you learn">
          <meta property="og:description" content="Nuggets - Remember everything you learn">
          <link rel="icon" type="image/x-icon" href="img/nuggets_logo_notext.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="css/theme/bootstrap.min.css" />
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/override.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        
        <link href="css/jquery.bxslider.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        
        <script src="js/home.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-61288581-1', 'auto');
          ga('send', 'pageview');

        </script>
        

        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie9-and-down.css" />
        <![endif]-->

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/video.js"></script>

        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dknmljjdjjaebkignimdoenficoamfil">
    </head>
    <body>
        <div class="main">
            <section class="home full-color">
                <div class="container">

                    <div class="home-phone hide hidden-xs col-xs-12 col-sm-5">
                        <img src="img/iphone-3.png" class="iphone-3 " alt="">
                    </div>

                    <div class="row">
                        <div class="home-copy col-xs-12 col-sm-8 col-sm-offset-2 animated fadeInDown delay-2 ">
                            <h1 class="demo1">Remember Everything<br> you Learn<!--<span class="rotate">  Learn, Read, Discuss, Think </span>--></h1>

                            <p>Nuggets helps you Record, Remember and Share <br>everything you learn</p>

                            <div class="add-to-chrome animated fadeInDown delay-4" href="#" class="myButton" onclick="chrome.webstore.install()" id="install-link">Add to Chrome </div>

                            <div class = "center"><i class="fa fa-chevron-down"></i></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slide-1 slide full-color">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 copy vertical-center">
                            <h2 class=" hide slide-1-title slide-titles">Record what you learn in nuggets of 200 chars or lesser </h2>
                            <p class="slide-1-1 hide">
                                Use Nuggets to consolidate and record the essence of what learn. 
                            </p>

                            <p class="slide-1-2 hide hidden-xs">
                            Prefer not to type? Simply highlight any text in the browser and add to Nuggets. 
                            </p>
                            <div class="center"><i class="hide fa fa-chevron-down slide-1-scroll scroll-down"></i></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 iphone-container ">
                            <ul class="slider8">
                              <div class="slide">
                                <div class="nugget-wrapper f3" id="g7">
                                    <div id="hKnsc3twdr" class="nugget-content">Learn how to work hard and stick with something. Learn how to turn off Facebook and control your addiction to social media. You'll instantly be ahead of a majority of your generation.
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#life</span>
                                            <span class="nugget-tag">#success</span>
                                        </div>
                                        <div class="nugget-source"> 
                                            <img src="img/youtube.png" width="36" style="float: left;"/>
                                            <span class= "source-link"> How to Start a Startup </span>
                                        </div>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                                <div class="nugget-wrapper f3" id="g1">
                                    <div id="hKnsc3twdr" class="nugget-content">Hawthorne effect or observer effect: Individuals improve or modify their behavior in response to their awareness of being observed.
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#psychology</span>
                                            <span class="nugget-tag">#trivia</span>
                                        </div>
                                        <div class="nugget-source"> 
                                            <img src="img/wiki.png" width="36" style="float: left;"/>
                                            <span class= "source-link"> www.wikipedia.org </span>
                                        </div>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                              <div class="nugget-wrapper f3" id="g2">
                                    <div id="hKnsc3twdr" class="nugget-content">10% of americans originated from pilgrim immigrants from england. the local indian tribe poconoca taught them to survive; pilgrims helped them defeat a rival. That celebration remains - thanksgiving
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#history</span>
                                            <span class="nugget-tag">#america</span>
                                            <span class="nugget-tag">#thanksgiving</span>
                                        </div>
                                        <div class="nugget-source"> 
                                            <img src="img/historyc.png" width="36" style="float: left;"/>
                                            <span class= "source-link"> America: The story of us </span>
                                        </div>

                                    </div>
                                </div>
                                </div>
                              <div class="slide">
                                <div class="nugget-wrapper f3" id="g4">
                                    <div id="hKnsc3twdr" class="nugget-content">Your body language affects your body chemistry and other's perceptions. Acting confident and open gestures can actually make you confident.
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#body language</span>
                                            <span class="nugget-tag">#confidence</span>
                                        </div>
                                        <div class="nugget-source"> 
                                            <img src="img/ted.png" width="36"style="float: left;"/>
                                            <span class= "source-link"> www.ted.com/amy_cuddy </span>
                                        </div>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                                <div class="nugget-wrapper f3" id="g5">
                                    <div id="hKnsc3twdr" class="nugget-content">user retention is the most important measure of a startup. what % of users use our product after X months? This should stay flat.
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#startup</span>
                                            <span class="nugget-tag">#growth</span>
                                        </div>
                                        <div class="nugget-source"> 
                                            <img src="img/quora.png" width="36" style="float: left;"/>
                                            <span class= "source-link"> www.quora.com </span>
                                        </div>

                                    </div>
                                </div>
                              </div>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
            <section class="slide-2 slide full-color">
                <div class="container">
                    <div class="row vertical-center">

                        <div class="col-xs-12 col-sm-4 copy ">
                            <h2 class=" hide slide-2-title slide-titles">Get timely reminders, based on your memory retention patterns.</h2>

                            <p class="slide-2-1 hide">
                            You will get reminders via email and browser notifications.
                            </p>

                            <p class="slide-2-2 hide hidden-xs">
                            Reminders are curated and timed based on effective memory techniques. 
                            </p>
                            <div class = "center"><i class="fa fa-chevron-down"></i></div>
                            <!--
                            <p class="slide-2-3 hide hidden-xs">
                            Remember simplicty will keep your work looking its best. Keep it simple.
                            </p>-->
                        </div>

                        <div class="col-xs-12 col-sm-6 reminders-container">
                            <!--<img src="img/iphone-2.png" class="hide iphone-2" alt="">-->
                            <ul class="reminder-slider">
                              <li>
                                <div class="slide">
                                  <div class="nugget-wrapper f3" id="g3">
                                    <div class="nugget-header" id="g6"> From a year back...</div>
                                    <div class="nugget-content">“I wake up in the morning unsure of whether I want to savor the world or save the world,”. It'll be great to do stuff that does both.
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#life</span>
                                        </div>
                                        <!--<div class="nugget-source"> 
                                            <img src="img/quora.png" width="36" style="float: left;"/>
                                            <span class= "source-link"> www.quora.com </span>
                                        </div>-->

                                    </div>
                                    </div>
                                </div>
                              </li>
                              <li>
                                <div class="slide">
                                  <div class="nugget-wrapper f3" id="g3">
                                    <div class="nugget-header" id="g4"> From yesterday...</div>
                                    <div class="nugget-content">Americans’ daily spending on energy - about $1 billion on electricity and $1.4 billion on fuel for their vehicles.<br><br>
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#trivia</span>
                                            <span class="nugget-tag">#energy</span>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                              </li>
                              <li>
                                <div class="slide">
                                  <div class="nugget-wrapper f3" id="g3">
                                    <div class="nugget-header" id="g5"> From a month ago...</div>
                                    <div class="nugget-content">Don't design products; design customer experiences.<br><br>
                                        <div class="nugget-tag-section"> 
                                            <span class="nugget-tag">#design</span>
                                            <span class="nugget-tag">#startup</span>
                                        </div>

                                    </div>
                                    </div>
                                </div>
                              
                            </li>
                            </ul>
                        </div>
                        <!--

                        <div class="col-xs-12 col-sm-4 copy">

                            <p class="slide-2-4 hide hidden-xs">
                            Use the settings cog to see what options you have avalible. Perhaps have a big video of your team hard at work in the office showing through using the opacity setting.
                            </p>

                            <p class="slide-2-5 hide hidden-xs">
                            Adding animations is easy, simply follow the examples in the code, use delay- to slow down or speed up the animations.
                            </p>

                            <p class="slide-2-6 hide hidden-xs">
                            Changing slide colors, images and video is all really easy. You may need to jump into CSS code to change specific styles.
                            </p>
                            <i class="hide fa fa-chevron-down slide-2-scroll scroll-down hidden-xs"></i>
                        </div>
                        -->
                    </div>
                </div>
            </section>
            <section class="slide-3 slide full-color">
                <div class="container">
                    <div class="row ">

                        <div class="col-xs-12 col-sm-4 copy vertical-center">
                            <h2 class=" hide slide-3-title slide-titles">  Learn from friends and experts</h2>
                            <p class="slide-3-1 hide">Follow people and topics that you are interested in to browse their nuggets</p>


                            <p class="slide-3-2 hide hidden-xs">
                            Share what your learn by sharing your nugget collections
                            </p>


<!--
                            <p class="slide-3-3 hide hidden-xs">
                            PSD files are added for your screenshots, drop them right in and be up and running quickly.
                            </p>
                        -->
                            <i class="hide fa fa-chevron-down slide-3-scroll scroll-down hidden-xs"></i>
                        </div>

                        <div class="col-xs-12 col-sm-3 iphone-container ">
                            <ul class="people-slider">
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g7">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/billg.jpeg"/>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g1">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/startup.jpg"/>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                              <div class="nugget-wrapper-thin f3" id="g2">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/health.png"/>

                                    </div>
                                </div>
                                </div>
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g4">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/neil.jpg"/>

                                    </div>
                                </div>
                              </div>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 iphone-container ">
                            <ul class="topic-slider">
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g7">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/design.jpeg"/>
                                        <div class="nugget-source"> 
                                        </div>

                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g1">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/buffet.png"/>
                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                              <div class="nugget-wrapper-thin f3" id="g2">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/cook.jpg"/>

                                    </div>
                                </div>
                                </div>
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g4">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/chris.jpg"/>
                                    </div>
                                </div>
                              </div>
                              <div class="slide">
                                <div class="nugget-wrapper-thin f3" id="g5">
                                    <div id="hKnsc3twdr" class="nugget-content"><img src="img/math.jpg"/>

                                    </div>
                                </div>
                              </div>
                            </ul>
                        </div>

                        <!--<div class="col-xs-12 col-sm-8">
                            <img src="img/iphone-3.png" class="hide iphone-3" alt="">
                        </div>-->
                    </div>

                </div>
            </section>
            <section class="contact full-color">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                        <h2>Get Nuggets now!</h2>
                        <p> Web, IPhone and Android apps coming soon.</p>

                        <span class="add-to-chrome animated fadeInDown delay-4" href="#" class="myButton" onclick="chrome.webstore.install()" id="install-link">Add to Chrome </span>
                        <!--

                        <div class="newsletter clearfix">
                            <div id="mc_embed_signup">

                                <!--
                                form action must be set as url for mailchimp account. Ensure that it uses post-json and that you have a c=? on the end as below.

                                example  action="//testusername.us3.list-manage.com/subscribe/post-json?u=75f4e1b40d3762253171e9d55&amp;id=c74a91dc25&amp;c=?"
                                

                                <form action="//sambillingham.us3.list-manage.com/subscribe/post-json?u=75f4e1b90d3762255171e9d55&amp;id=c75a95dc25&amp;c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email" required>
                                    <button type="submit" class="btn submit btn-signup" value="" name="subscribe" id="mc-embedded-subscribe" class="button"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                            <div class="sign-up-message hidden"></div>
                        </div>-->

                        <div class="social clearfix">
                            <a href="https://www.facebook.com/nuggetsapp" class="social-item facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.twitter.com/nuggets_app" class="social-item twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </section>

        </div> <!-- /main -->
        <!--
        <div class="icon animated fadeInLeft delay-3">
            <span> Showcase </span>
        </div>

        <div class="settings animated fadeInLeft delay-4">

            <span class="settings-icon">
                <i class="fa fa-cog"></i>
            </span>
            <h3 class="settings-title"> Settings </h3>

            <span class="settings-subtitle">Home</span>
            <span class="toggle-video hidden-xs">toggle video </span>
            <span class="toggle-phone hidden-xs">toggle phone</span>
            <span class="toggle-opacity-first">toggle opacity first</span>
            <span class="settings-subtitle">Global</span>
            <span class="toggle-opacity-all">toggle opacity all</span>
        </div>
        -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/jquery.bxslider.min.js"></script>
        <script>
        $(document).ready(function(){

              $('.slider8').bxSlider({
                auto: true,
                mode: 'vertical',
                slideWidth: 400,
                minSlides: 3,
                infiniteLoop: true,
                slideMargin: 10,
                controls:false,
                speed: 2000,
                randomStart:true,
              });

              $('.people-slider').bxSlider({
                auto: true,
                mode: 'vertical',
                slideWidth: 400,
                minSlides: 4,
                infiniteLoop: true,
                slideMargin: 4,
                controls:false,
                speed: 1250,
                randomStart:true,
              });

              $('.topic-slider').bxSlider({
                auto: true,
                mode: 'vertical',
                slideWidth: 400,
                minSlides: 4,
                infiniteLoop: true,
                slideMargin: 2,
                controls:false,
                speed: 2800,
                randomStart:false,
              });

              $('.reminder-slider').bxSlider({
              mode: 'horizontal',
              useCSS: false,
              infiniteLoop: true,
              hideControlOnEnd: true,
              auto: true, 
              speed: 1000,
              slideMargin: 10,
              slideWidth: 400, 
              controls:false,
              randomStart:true,
            });

            });
        </script>
    </body>
</html>
