<!doctype html>
<html>
  
<head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12014356-3', 'nuggetsapp.com');
  ga('send', 'pageview');

</script>
</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/17660182/nuggit/design.css">
  <script src="https://dl.dropboxusercontent.com/u/17660182/nuggit/jquery.typer.js"></script>
<body>
  
  <div id="logo">
    <img src="/img/logo.png" class="center">
  </div>
  <div id="signup">
  <h2>Remember  <span data-typer-targets="the articles you read on Wikipedia, everything you learn, the work hacks that you discovered, the tips from the TED talks you watch, the useful stuff from the countless articles you read everyday, everything you learn, all that startup advise that you read about, the insightful tweets you read, the fun facts that you pick up, the new words that you learn, the occasional wisdom from Facebook, your Coursera lessons, the great answers that you read on Quora, the hilarious joke your friend cracked, the useful career advise from your mentor, the math tips that you learnt on Khan Academy, inspiring quotes that you come across, life lessons from your daily experiences, the deep revelation that dawned on you in the shower" >everything you learn</span></h2>
  <p>because the awesome stuff you learn should stay with you forever.</p>

<link  rel="stylesheet" /> <script src="http://my.betali.st/widget/9nr5sh97.js" id="MyBetaList"></script>

    
  </div>
  <div class ="why">
  <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-post" data-href="https://www.facebook.com/notes/nuggets/remember-everything-you-learn/476963692410915" data-width="850"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/notes/nuggets/remember-everything-you-learn/476963692410915">Post</a> by <a href="https://www.facebook.com/nuggetsapp">Nuggets</a>.</div></div>
</div>
  <script>
    $(function () {
      $('[data-typer-targets]').typer();
    });
  </script>
</body>
</html>
