<!doctype html>
<html>
  <head>
    <title>Nuggets</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styling.css">
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/parse-1.2.8.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/shownuggets.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12014356-3', 'nuggetsapp.com');
  ga('send', 'pageview');

</script>
  </head>
  <body id="extension-body">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <img src="/img/nuggets24.png" class="pull-left navbar-icon"/>
        <span class="brand">Recent Nuggets</span>
        
        <div class="navbar-dropdown">
          <div class="btn-group pull-right">
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" tabindex="-1"><i class="icon-th-list"></i></button>
            <ul class="dropdown-menu pull-right">
              <li><a href="../../">Signup</a></li>
              <!--<li class="divider"></li>
              <li><a id="logout-button" href="#">Logout</a></li>*/-->
            </ul>
          </div>
        </div>
        <div id="my-nuggets-search-div" class="pull-right" style="display: none;">
            <div class="span4">
              
                <span id="my-nuggets-search-icon"><i class="icon-search"></i></span>
                <input id="my-nuggets-search" type="text" placeholder="Search"/>
                <span id="my-nuggets-search-clear"><i class="icon-remove"></i></span>
            
            </div>
          </div>
      </div>
    </div>
    <div id="extension-container">
          
            <div class="row-fluid">
            <div id="my-nuggets-table" class="">
              
            </div>
            </div>
    </div>
  </body>
</html>

